.react-datepicker-popper {
  z-index: 999;
}

.react-datepicker {
  @apply border rounded-lg p-2 shadow-lg;
  background-color: var(--neutral-bg);
  border: 1px solid var(--droppable-hover-bg);
}

.react-datepicker__header {
  background-color: var(--neutral-bg);
  border-bottom: 1px solid var(--droppable-hover-bg);
  padding: 10px;
}

.react-datepicker__current-month {
  @apply text-base font-medium mb-2;
  color: var(--text-color);
}

.react-datepicker__day-name,
.react-datepicker__day {
  @apply w-8 h-8 leading-8 text-center font-medium;
  color: var(--text-color);
}

.react-datepicker__day:hover {
  background-color: rgba(190, 219, 176, 0.3);
  color: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

.react-datepicker__day--selected {
  background-color: rgba(190, 219, 176, 0.8);
  color: var(--text-inverted);
  border-radius: 50%;
}

.react-datepicker__triangle {
  @apply hidden;
}

.react-datepicker__day--in-range {
  background-color: rgba(190, 219, 176, 0.3);
  color: var(--text-color);
  border-radius: 50%;
}

.react-datepicker__day--in-range:hover {
  background-color: rgba(190, 219, 176, 0.6);
}
