table {
  width: 100%;
  table-layout: fixed;

  border-radius: 10px;
  overflow: hidden;

  background-color: rgba(45, 45, 45, 1);
  border: 5px solid rgba(190, 219, 176, 0.3);
  border-collapse: separate;
  border-spacing: 0;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 4px 15px rgba(0, 0, 0, 0.08);
}

table th,
table td {
  padding: 8px;
  border: 1px solid rgba(190, 219, 176, 0.3);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table th {
  color: rgba(255, 255, 255, 0.9);
  background-color: #1f1f1f;
}

table tr:first-child th {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child,
table tr th:first-child {
  border-left: none;
}

table tr td:last-child,
table tr th:last-child {
  border-right: none;
}

tr:nth-child(even) {
  background-color: rgba(37, 37, 37, 1);
}

tr:hover {
  background-color: rgba(55, 55, 55, 1);
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 45px;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 100px;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 200px;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 100px;
}

table th:nth-child(5),
table td:nth-child(5) {
  width: 50px;
}
