@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --primary-bg: #f6f6f7;
  --secondary-bg: #fcfcfc;
  --highlight-bg: #fff;
}

/* Dark theme */
:root.dark {
  --primary-bg: #1f1f1f;
  --secondary-bg: #161616;
  --highlight-bg: #121212;
}

.container {
  width: 335px;
  margin: 0 auto;
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Анімація для модального вікна */
@keyframes scaleUp {
  from {
    transform: scale(0.9); /* Зменшуємо модальне вікно на початку */
  }
  to {
    transform: scale(1); /* Збільшуємо модальне вікно до нормального розміру */
  }
}

.tippy-tooltip.light-theme {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
}

.tippy-tooltip.dark-theme {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
}
