@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --primary-bg: #f6f6f7;
  --secondary-bg: #fcfcfc;
  --highlight-bg: #fff;
  --neutral-bg: #fcfcfc;

  --input-bg: #fff;

  --text-color: #161616;
  --text-color-transparent: rgba(22, 22, 22, 0.5);
  --text-color-error-transparent: rgba(255, 255, 255, 0.1);
  --text-inverted: #fff;

  --scrollbar-thumb: #e8e8e8;
  --scrollbar-track: #fff;
  --project-list-scrollbar-thumb: rgba(190, 219, 176, 1);
  --project-list-scrollbar-track: #e8e8e8;

  --droppable-hover-bg: #f0f0f0;

  --skeleton-bg: #e8e8e8;
  --skeleton-fg: #fcfcfc;
}

/* Dark theme */
:root.dark {
  --primary-bg: #1f1f1f;
  --secondary-bg: #161616;
  --highlight-bg: #121212;
  --neutral-bg: #151515;

  --input-bg: #1f1f1f;

  --text-color: #fff;
  --text-color-transparent: rgba(255, 255, 255, 0.5);
  --text-color-error-transparent: rgba(0, 0, 0, 0.2);
  --text-inverted: #161616;

  --scrollbar-thumb: #121212;
  --scrollbar-track: rgba(255, 255, 255, 0.05);
  --project-list-scrollbar-thumb: rgba(190, 219, 176, 0.5);
  --project-list-scrollbar-track: rgba(255, 255, 255, 0.1);

  --droppable-hover-bg: rgba(255, 255, 255, 0.1);

  --skeleton-bg: #1e1e1e;
  --skeleton-fg: #2a2a2a;
}

.container {
  width: 335px;
  margin: 0 auto;
}

@keyframes scaleIn {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.tippy-tooltip.light-theme {
  background-color: #f9f9f9;
  color: #333;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
}

.tippy-tooltip.dark-theme {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  margin: 0 20px;
  background-color: var(--scrollbar-track);
  border-radius: 12px;
}

.project-list-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.project-list-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--project-list-scrollbar-thumb);
  border-radius: 12px;
}

.project-list-scrollbar::-webkit-scrollbar-track {
  background-color: var(--project-list-scrollbar-track);
  border-radius: 12px;
  margin: 20px 0;
}

.main-custom-scrollbar {
  /* margin-right: 20px; */
}

.main-custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  padding-right: 16px;
}

.main-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 12px;
}

.main-custom-scrollbar::-webkit-scrollbar-track {
  margin-top: 80px;
  margin-bottom: 70px;
  background-color: var(--scrollbar-track);
  border-radius: 12px;
}

.filter-popup.custom-scrollbar,
.custom-modal__content.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(190, 219, 176, 0.15);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(190, 219, 176, 0.05);
  }
}

.droppable-hover {
  background-color: var(--droppable-hover-bg);
  outline: 2px dashed #bedbb0;
  outline-offset: -2px;
  transition: background-color 0.25s ease-in-out,
    outline-color 0.25s ease-in-out;
}

/* .droppable-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  outline: 2px dashed #bedbb0;
  z-index: -1; 
  border-radius: 8px; 
  transition: background-color 0.25s ease-in-out,
    outline-color 0.25s ease-in-out;
} */

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(128, 128, 128, 0.3);
  }
  50% {
    background-color: rgba(128, 128, 128, 0.5);
  }
}

.gantt-container {
  background-color: white;
  height: calc(100vh - 164px) !important;
  overflow: auto;
}

.gantt-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.gantt-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.gantt-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.gantt-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.gantt .bar-progress {
  fill: #1f1f1f;
  opacity: 30%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@media screen and (max-width: 765px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (min-width: 765px) and (max-width: 1440px) {
  .dashboard-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
